<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="club.p6e.germ.jurisdiction.mybatis.mapper.JurisdictionUrlMapper">-->

<!--    <select id="select" parameterType="club.p6e.germ.jurisdiction.model.JurisdictionUrlDb"-->
<!--            resultType="club.p6e.germ.jurisdiction.model.JurisdictionUrlDb">-->
<!--        SELECT-->
<!--            `id`,-->
<!--            `url`,-->
<!--            `base_url` AS `baseUrl`,-->
<!--            `method`,-->
<!--            `config`,-->
<!--            `name`,-->
<!--            `describe`,-->
<!--            `create_date` AS `createDate`,-->
<!--            `update_date` AS `updateDate`,-->
<!--            `operate`-->
<!--        FROM-->
<!--            `p6e_jurisdiction_url`-->
<!--        WHERE `is_delete` = 0-->
<!--              <if test="id != null">AND `id` = #{id}</if>-->
<!--        LIMIT #{offset}, #{size};-->
<!--    </select>-->

<!--</mapper>-->