.container {
  background: #FFFFFF;
  padding: 24px;
  border-radius: 4px;
  .table {
    //.ant-table-header {
    //  border: 1px solid #f0f0f0;
    //}
    //.ant-table-body {
    //  border-left: 1px solid #f0f0f0;
    //}
    tr {
      th {
        padding: 12px 8px;
      }
      td {
        padding: 8px;
      }
    }
  }
}
